body {
    
    background-color: black;
    cursor: crosshair;
  }

  .Name {
    margin:center;
    color: White;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40pt;
  }

  .Position {
      color:white;
      text-align: center;
      font-size: 25pt;
      
  }

  .Sentence {
      color:white;
      text-align: center;
      font-size: 14pt;
  }

  .Me {
      color:white;
      text-align: center;
      font-size: 14pt;
  }

  .Projects {
      color:white;
      text-align: center;
      padding-top: 15%;
  }

  .Contact {
    color: White;
    text-align: center;
    padding-top: 15%;
  }

  .image-container {
    display: flex;
    justify-content: space-around;
  }
  img {
    border-radius:10px;
    border: 15px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 450px;
    width: 300px;
    
  }

  hr {
      height: 5px;
      background-color: red;
  }

  ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

  li a:hover {
      background-color: red;
    }

 .project-list {
   color: white;
 }

  

  
  