body {
    background-color: black;
  }
  .Name {
      margin:center;
    color: White;
  }
  .Position {
      color:white
  }
  .Me {
      color:white;
  }
  .Projects {
      color:white;
  }
  .Contact {
    color: White;
  }
  img {
    border-radius:40px;
    border-width: 15px;
    border-color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  